<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 push-lg-4">
      <h1 class="no-mb">Frequently Asked Questions</h1>
      <h4 class="muted">Some information about our restaurant</h4>
    </div>
  </div>
</div>

<div class="content">
  <div class="clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <nav class="side-nav">
            <h5>
              <fa-icon></fa-icon>
              Pick a content
            </h5>
            <!-- TODO: Loop through the sidenav -->
            <ul class="nav nav--vertical">
              <li class="nav--item">
                <a href="" class="nav--link"></a>
              </li>
            </ul>
          </nav>
        </div>

        <!-- TODO: Loop through the FAQs -->

        <div class="col-md-8 push-md-1">
          <h3>
            <fa-icon></fa-icon>
            General
          </h3>
          <hr>
          <div class="pb-3">
            <h4>How does it work?</h4>
            <p class="lead">
              Vivamus non euismod dui. Curabitur rhoncus massa sit amet nisi molestie lobortis. Nam quis neque nec odio vestibulum pulvinar sit amet sed enim.
            </p>
            <p>
              Sed lacus lacus, tincidunt a posuere sed, varius ut sapien. Vivamus nulla odio, scelerisque eu orci ut, tincidunt consequat ligula. Etiam ante felis, consequat vel accumsan vitae, gravida nec mauris. Maecenas vitae lobortis nisl. Donec lorem libero, vulputate sed arcu nec, sollicitudin vestibulum nisi.
            </p>
          </div>
          <div class="pb-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
