<section>
<div class="global--page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-4">
        <h1 class="mb-0">FAQ</h1>
        <h4 class="muted">Some information about our restaurant</h4>
      </div>
    </div>
  </div>
</div>
  <div class="content wrapper">
    <div class="clearfix">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <nav sticky class="side-nav pt-4">
              <h5>
                <fa-icon class="mr-3" [icon]="faAlignJustify"></fa-icon>
                Pick a content
              </h5>
              <!-- TODO: Loop through the sidenav -->
                <ul #sideBar [class.sticky]="isToggled"  class="nav nav--vertical">
                  <li *ngFor="let item of faqs" class="nav-item">
                    <a href="" class="nav--link">{{ item.title }}</a>
                    <ul>
                      <li class="nav-item"><a class="nav-link sub-link" href="#">How does it work?</a></li>
                      <li class="nav-item"><a class="nav-link sub-link" href="#">How long does it take</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
          </div>

          <!-- TODO: Remove Duplications. -->
          <!-- TODO: Fix the looping implementation. -->

            <div class="col-md-8 offset-md-1">
              <div *ngFor="let faq of faqs">
                <h3 class="faq__title">
                  <fa-icon class="mr-4" [icon]="faq.icon"></fa-icon>
                  {{ faq.title }}
                </h3>
                <hr>
                <div class="pb-5">
                  <h4 class="faq__title" >How does it work?</h4>
                  <p class="lead">
                    Vivamus non euismod dui. Curabitur rhoncus massa sit amet nisi molestie lobortis. Nam quis neque nec odio vestibulum pulvinar sit amet sed enim.
                  </p>
                  <p>
                    Sed lacus lacus, tincidunt a posuere sed, varius ut sapien. Vivamus nulla odio, scelerisque eu orci ut, tincidunt consequat ligula. Etiam ante felis, consequat vel accumsan vitae, gravida nec mauris. Maecenas vitae lobortis nisl. Donec lorem libero, vulputate sed arcu nec, sollicitudin vestibulum nisi.
                  </p>
                </div>
                <div class="pb-5">
                  <h4 class="faq__title" >How long does it take?</h4>
                  <p class="lead">
                    Vivamus non euismod dui. Curabitur rhoncus massa sit amet nisi molestie lobortis. Nam quis neque nec odio vestibulum pulvinar sit amet sed enim.
                  </p>
                  <p>
                    Sed lacus lacus, tincidunt a posuere sed, varius ut sapien. Vivamus nulla odio, scelerisque eu orci ut, tincidunt consequat ligula. Etiam ante felis, consequat vel accumsan vitae, gravida nec mauris. Maecenas vitae lobortis nisl. Donec lorem libero, vulputate sed arcu nec, sollicitudin vestibulum nisi.
                  </p>
                </div>
                <div class="pb-3"></div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
