@import '../../../_variables'

.menu-category
  margin-bottom: 2rem

  &__title
    position: relative
    height: 35vh
    min-height: 160px
    color: #FFF
    padding: 3rem
    background: $main-dark

  &__content
    border: 1px solid #e0e0e0
    background: #FFF

.menu-list-item
  padding: 1.25rem 1.5rem
  line-height: 1.2

.collapse-toggle
  cursor: pointer
  height: 25vh
  transition: all .25s ease-out

.title
  position: absolute
  bottom: 3rem
  left: 4rem
  font-size: 5rem
  z-index: 2
  margin-bottom: 0

h2
  font-weight: 300

h6
  font-size: 1.1rem
  font-weight: 500
  margin-top: 0

p
  font-size: 1rem
  font-weight: 200
  margin-bottom: 2rem

.bg-image
  background-image: url('../../../assets/images/menu-title-burgers-1.jpg')
  z-index: 0

.text-sm
  font-size: .95rem
