<div class="content">
  <div parallax [config]="{initialValue: 0, ratio: .2}" class="image"></div>
  <div class="container global--page-title">
    <div class="row">
      <div class="col-md-8 offset-md-4">
        <h1 class="no-mb">Reviews</h1>
        <h4 class="muted">Some information about our site</h4>
      </div>
    </div>
  </div>
</div>

<div class="clearfix">
  <article>
    <div class="row-fluid">
      <div class="col-sm-12">
        <div class="container">
          <div class="row mb-3">
            <div class="col-xl-8 offset-xl-2">
              <app-blockquote *ngFor="let quote of quotes.slice(0, 7); even as isEven"
                [author]="quote.author"
                [image]="quote.image"
                [rating]="quote.rating"
                [service]="quote.service"
                [theme]="isEven ? 'light' : 'dark'"
                [direction]="isEven ? 'right' : 'left'" >
                {{ quote.quote }}
              </app-blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
    <div class="footer">
      <div parallax [config]="{initialValue: -350, ratio: .2}" class="footer__image"></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 push-lg-2 footer__text-content">
            <h2>Would you like to give us a review?</h2>
            <h5 class="muted">Do not hesitate to do that!</h5>
            <a href="" class="btn btn-outline-primary hvr-sweep-to-top">Write a Review</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </article>
</div>
