<div class="content">
  <div parallax [config]="{initialValue: 0, ratio: .2}" class="image"></div>
  <div class="container global--page-title">
    <div class="row">
      <div class="col-md-8 offset-md-4">
        <h1 class="no-mb">Reviews</h1>
        <h4 class="muted">Some information about our site</h4>
      </div>
    </div>
  </div>
</div>

<div class="clearfix">
  <article>
    <div class="row-fluid">
      <div class="col-sm-12">
        <div class="container">
          <div class="row mb-3">
            <div class="col-xl-8 offset-xl-2">
              <!-- TODO: Prepare for backend implementation -->
              <blockquote class="block-quote block-quote--right">
                <div class="block-quote__content block-quote__content--light">
                  <div class="rate rate--sm">
                    <fa-icon [icon]="faStar" class="active"></fa-icon>
                    <fa-icon [icon]="faStar" class="active"></fa-icon>
                    <fa-icon [icon]="faStar" class="active"></fa-icon>
                    <fa-icon [icon]="faStar" class="active"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                  </div>
                  <p class="block-quote__paragraph">It was an amazing feeling for my belly!</p>
                </div>
                <footer class="block-quote__footer">
                  <img class="avatar" src="http://www.gravatar.com/avatar/3472757f6a3732d6470f98d7d7e9cece?s=32" alt="Mark Johnson">
                  <span>
                    Mark Johnson <span class="muted">Google</span>
                  </span>
                </footer>
              </blockquote>
              <blockquote class="block-quote block-quote--left">
                <div class="block-quote__content block-quote__content--dark">
                  <div class="rate rate--sm">
                    <fa-icon [icon]="faStar" class="active"></fa-icon>
                    <fa-icon [icon]="faStar" class="active"></fa-icon>
                    <fa-icon [icon]="faStar" class="active"></fa-icon>
                    <fa-icon [icon]="faStar" class="active"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                  </div>
                  <p class="block-quote__paragraph">It was an amazing feeling for my belly!</p>
                </div>
                <footer class="block-quote__footer">
                  <img class="avatar" src="http://www.gravatar.com/avatar/3472757f6a3732d6470f98d7d7e9cece?s=32" alt="Mark Johnson">
                  <span>
                    Mark Johnson <span class="muted">Google</span>
                  </span>
                </footer>
              </blockquote>
              <blockquote class="block-quote block-quote--right">
                <div class="block-quote__content block-quote__content--light">
                  <div class="rate rate--sm">
                    <fa-icon [icon]="faStar" class="active"></fa-icon>
                    <fa-icon [icon]="faStar" class="active"></fa-icon>
                    <fa-icon [icon]="faStar" class="active"></fa-icon>
                    <fa-icon [icon]="faStar" class="active"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                  </div>
                  <p class="block-quote__paragraph">It was an amazing feeling for my belly!</p>
                </div>
                <footer class="block-quote__footer">
                  <img class="avatar" src="http://www.gravatar.com/avatar/3472757f6a3732d6470f98d7d7e9cece?s=32" alt="Mark Johnson">
                  <span>
                    Mark Johnson <span class="muted">Google</span>
                  </span>
                </footer>
              </blockquote>
              <blockquote class="block-quote block-quote--left">
                <div class="block-quote__content block-quote__content--dark">
                  <div class="rate rate--sm">
                    <fa-icon [icon]="faStar" class="active"></fa-icon>
                    <fa-icon [icon]="faStar" class="active"></fa-icon>
                    <fa-icon [icon]="faStar" class="active"></fa-icon>
                    <fa-icon [icon]="faStar" class="active"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                  </div>
                  <p class="block-quote__paragraph">It was an amazing feeling for my belly!</p>
                </div>
                <footer class="block-quote__footer">
                  <img class="avatar" src="http://www.gravatar.com/avatar/3472757f6a3732d6470f98d7d7e9cece?s=32" alt="Mark Johnson">
                  <span>
                    Mark Johnson <span class="muted">Google</span>
                  </span>
                </footer>
              </blockquote>
              <blockquote class="block-quote block-quote--right">
                <div class="block-quote__content block-quote__content--light">
                  <div class="rate rate--sm">
                    <fa-icon [icon]="faStar" class="active"></fa-icon>
                    <fa-icon [icon]="faStar" class="active"></fa-icon>
                    <fa-icon [icon]="faStar" class="active"></fa-icon>
                    <fa-icon [icon]="faStar" class="active"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                  </div>
                  <p class="block-quote__paragraph">It was an amazing feeling for my belly!</p>
                </div>
                <footer class="block-quote__footer">
                  <img class="avatar" src="http://www.gravatar.com/avatar/3472757f6a3732d6470f98d7d7e9cece?s=32" alt="Mark Johnson">
                  <span>
                    Mark Johnson <span class="muted">Google</span>
                  </span>
                </footer>
              </blockquote>
              <blockquote class="block-quote block-quote--left">
                <div class="block-quote__content block-quote__content--dark">
                  <div class="rate rate--sm">
                    <fa-icon [icon]="faStar" class="active"></fa-icon>
                    <fa-icon [icon]="faStar" class="active"></fa-icon>
                    <fa-icon [icon]="faStar" class="active"></fa-icon>
                    <fa-icon [icon]="faStar" class="active"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                  </div>
                  <p class="block-quote__paragraph">It was an amazing feeling for my belly!</p>
                </div>
                <footer class="block-quote__footer">
                  <img class="avatar" src="http://www.gravatar.com/avatar/3472757f6a3732d6470f98d7d7e9cece?s=32" alt="Mark Johnson">
                  <span>
                    Mark Johnson <span class="muted">Google</span>
                  </span>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <!-- Reserved for Parallax Footer Component -->
     <!-- <div parallax [config]="{initialValue: 0, ratio: .2}" class="image"></div> -->
    </div>
  </article>
</div>
