<div class="content">
  <div class="bg-image"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 push-lg-4">
        <h1 class="no-mb">Reviews</h1>
        <h4 class="muted">Some information about our site</h4>
      </div>
    </div>
  </div>
</div>

<div class="clearfix">
  <article>
    <div class="row-fluid">
      <div class="col-sm-12">
        <div class="container">
          <div class="row mb-3">
            <div class="col-xl-8 push-xl-2">
              <!-- Reserved for blockquote components -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <!-- Reserved for Parallax Footer Component -->
    </div>
  </article>
</div>
