@import "../../_variables"
@import "../../_breakpoints"
@import "hamburgers/_sass/hamburgers/hamburgers.scss"

button
  position: absolute
  top: 30px
  left: 0
  margin-left: 1rem
  z-index: 999
  @include breakpoint(sm)
    display: none !important
header
  background-color: #FFF
  display: block
  position: relative
  z-index: 999

nav
  opacity: 0
  z-index: -100
  @include breakpoint (sm)
    opacity: 1
    z-index: 10
    display: inline-block
    line-height: 45px
    padding-top: 27.5px
    padding-bottom: 27.5px
    text-transform: uppercase
    &:not(.logo)
      padding-top: 27.5px
      padding-bottom: 27.5px
  @include breakpoint(md)
    margin-right: 1.5rem

ul
  font-family: "Oswald", sans-serif
  padding-inline-start: 0

  &>li:not(:last-child)
    margin-right: 1.5rem


img
  max-width: 150px

.absolute
  position: absolute !important

.responsive-view
  opacity: 1 !important
  position: relative
  top: 122px
  font-size: 2rem
  color: #FFF
  z-index: 999 !important

.ul-responsive
  display: block
  background-color: $main-dark
  padding: 1rem 2rem
  position: absolute

.arrow
  width: 15px
  height: 12px
  opacity: .6

.cart-container
  position: absolute
  top: 40px
  right: 0
  @include breakpoint(md)
  right: 20%
.cart-row
  transform: scale(.8)
  @include breakpoint(sm)
    transform: scale(1)
    display: inline-flex

.logo
  padding: 1rem 0
  background-color: $main-dark
  position: absolute
  top: 0
  text-align: center
  color: #FFF
  left: 0%
  right: 0%
  @include breakpoint (sm)
    left: 15px
    right: 15px
    padding: 5rem 2rem
  &__image
    transform: scale(.6)
    @include breakpoint (sm)
      transform: scale(1)

.default
  color: #FFF
  @include breakpoint (sm)
    color: $cart-color
    top: 60%
    padding: 0
    margin: 0
    right: -10%
  display: inline-block
  line-height: 45px


.dropdown-container
  top: calc(100% + 1rem)
  left: 0
  position: absolute
  background-color: #fff
  transition: all .25s ease-out
  transform: translateY(10px)
  color: $text-color
  opacity: 0
  visibility: hidden
  text-align: left
  cursor: pointer
  display: block
  font-size: 0.9rem
  padding: 5px
  line-height: 30px

.inherit
  position: inherit

.main-nav
  top: calc(100% + 8rem) !important

.has-dropdown
  cursor: pointer
  &:hover
    color: $primary !important
    transform: all .25s ease-out

.dropdown-active
  visibility: visible
  opacity: 1
  transition: all .25s ease-out

.dropdown-item
  width: 200px
  border-bottom: 1px solid $light-bgc
  &:hover
    color: $primary !important
    transform: all .25s ease-out
    background-color: $light-bgc



.cart
  position: relative
  color: #fff
  @include breakpoint(sm)
    color: inherit

.cart-icon
  color: #FFF
  display: inline-block
  width: 25px
  height: 25px
  opacity: .6
  @include breakpoint(sm)
    color: $cart-color
    transform: scale(1.2)



.cart-value
  font-size: 1.4rem
  font-family: "Oswald", sans-serif
  border-left: 1px solid #e0e0e0
  margin-left: .5rem
  padding-left: .75rem
  transition: all .25s ease-out

.notification
  position: absolute
  top: 0
  right: 0
  border-radius: 30px
  padding: 0.15rem 0.3rem 0.2rem 0.35rem
  line-height: 1

  ul
    list-style: none
    padding: 5px
    margin: 0
    line-height: 1.5
    width: 200px
    background-color: #fff
