<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="logo">
          <a href="">
            <img src="{{ logoPath }}" alt="Logo" width="88">
          </a>
        </div>
      </div>
      <div class="col-md-7">
        <nav class="left">
          <ul>
            <li></li>
            <li></li>
          </ul>
        </nav>
      </div>
      <div class="col-md-2">
        <a href="">
          <div class="cart">
            <span class="cart-icon"></span>
            <span class="cart-value"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</header>
