<header>
  <div id="myContainer" [ngClass]="breakpoint? 'container': 'container-fluid'">
    <div class="row">
      <div class="col-md-3">
        <div class="logo">
          <a href="">
            <img class="logo__image" src="{{ logoPath }}" alt="Logo" width="88">
          </a>
        </div>
      </div>
      <div class="col-md-7">
        <button class="hamburger hamburger--spin" [class.is-active]="isToggled" (click)="isToggled = !isToggled">
          <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
        </button>
        <nav [class.dropdown-active]="isToggled" [ngClass]="!breakpoint? 'dropdown-container main-nav' : ''" >
          <ul class="nav">
            <li *ngFor="let item of list" class="{{ breakpoint? item.class : '' }}" >
              <div *ngIf="item.dropdownList; then dropdown else noDropdown"></div>
              <ng-template #dropdown><a class="has-dropdown" [ngClass]="!breakpoint? 'dropdown-item': ''" (click)="isActive = !isActive">{{ item.name }} <span><img class="arrow" src="{{ arrowPath }}" alt="Arrow pointing down"></span></a></ng-template>
              <ng-template #noDropdown><a [routerLink]="item.router" [ngClass]="!breakpoint? 'dropdown-item': ''" (click)="isActive = false; isToggled = false">{{ item.name }} </a></ng-template>
                <div *ngIf="item.hasDropdown" class="dropdown-container" [class.absolute]="breakpoint" [ngClass]="isActive? 'dropdown-active inherit' : ''">
                  <ul>
                    <li *ngFor="let dropdown of item.dropdownList" class="menu-item list-item mr-0">
                      <a [routerLink]="dropdown.router" class="dropdown-item" (click)="isActive = false; isToggled = false">{{ dropdown.title }}</a>
                    </li>
                  </ul>
                </div>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-md-2 cart-container">
        <a class="default right" href="">
          <div class="cart-row">
            <span class="cart">
              <fa-icon [icon]="faCartArrowDown" class="cart-icon"></fa-icon>
              <span class="badge badge-pill badge-success notification">4</span>
            </span>
            <span class="cart-value">$247.00</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</header>
<div class="cleafix"></div>
