@import "../../_variables"
@import "../../_breakpoints"
@import "hamburgers/_sass/hamburgers/hamburgers.scss"

button
  position: absolute
  top: 30px
  left: 0
  margin-left: 1rem
  z-index: 999
  @include breakpoint(sm)
    display: none !important
header
  background-color: #FFF
  display: block
  position: relative
  z-index: 999

nav
  display: none
  @include breakpoint (sm)
    display: inline-block
    line-height: 45px
    padding-top: 27.5px
    padding-bottom: 27.5px
    text-transform: uppercase
    &:not(.logo)
      padding-top: 27.5px
      padding-bottom: 27.5px
  @include breakpoint(md)
    margin-right: 1.5rem

ul
  font-family: "Oswald", sans-serif

  &>li:not(:last-child)
    margin-right: 1.5rem


img
  max-width: 150px

.arrow
  width: 15px
  height: 12px
  opacity: .6

.cart-container
  position: absolute
  top: 40px
  right: 15px

@include breakpoint(sm)
  .container
    width: 100% !important

.logo
  padding: 1rem 0
  background-color: $main-dark
  position: absolute
  top: 0
  text-align: center
  color: #FFF
  left: 0%
  right: 0%
  @include breakpoint (sm)
    left: 15px
    right: 15px
    padding: 5rem 2rem
  &__image
    transform: scale(.6)
    @include breakpoint (sm)
      transform: scale(1)

.default
  @include breakpoint (sm)
    top: 60%
    padding: 0
    margin: 0
    right: -10%
    color: #FFF
  display: inline-block
  line-height: 45px


.dropdown-container
  top: calc(100% + 45px)
  left: 0
  position: absolute
  background-color: #fff
  transition: all .25s ease-out
  transform: translateY(10px)
  color: $text-color
  opacity: 0
  visibility: hidden
  text-align: left

.cart
  position: relative

.cart-icon
  color: $cart-color
  display: inline-block
  width: 25px
  height: 25px
  opacity: .6

.cart-value
  font-size: 1.4rem
  font-family: "Oswald", sans-serif
  border-left: 1px solid #e0e0e0
  margin-left: .5rem
  padding-left: .75rem
  transition: all .25s ease-out

.notification
  position: absolute
  top: -.6rem
  right: 0
  background-color: #4aa36b
  color: #FFF
  font-weight: 600
  font-size: .7rem
  display: inline-block
  border-radius: 30px
  padding: 0.15rem 0.3rem 0.2rem 0.35rem
  line-height: 1

  ul
    list-style: none
    padding: 5px
    margin: 0
    line-height: 1.5
    width: 200px
    background-color: #fff
