<div class="content">
  <div class="title">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 push-lg-4">
          <h1 class="no-mb">Blog</h1>
          <h4 class="muted">Some information about our restaurant</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 push-lg-1">
          <article class="post">
            <div class="post__image"></div>
            <div class="post__content">
              <ul class="post__date">
                <li>
                  <time class="post__date__entry">May 21, 2017</time>
                </li>
                <li>by Johnatan Doe</li>
              </ul>
              <h4><a href="">How to make perfect pasta</a></h4>
              <p class="lead">Integer commodo nisi nec hendrerit volutpat. Ut semper lacus felis, vitae malesuada</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
