<section>
  <h2>Our Menu</h2>
  <ngu-carousel #menuCarousel [inputs]="carouselTileConfig" [dataSource]="carouselTileItems$ | async">
      <ngu-tile class="item" *nguCarouselDef="let item">
        <div class="tile" [style.backgroundImage]="'url('+item+')'"></div>
      </ngu-tile>
    <button NguCarouselPrev class="leftRs"><fa-icon [icon]="faArrowLeft"></fa-icon></button>
    <button NguCarouselNext class="rightRs"><fa-icon [icon]="faArrowRight"></fa-icon></button>
  </ngu-carousel>
</section>
