<div class="footer">
  <div parallax [config]="{initialValue: -200, ratio: .2}" class="footer__image"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 push-lg-2 footer__text-content">
        <h2>Check our promo video!</h2>
        <h5 class="muted">Book a table right now or make an online order!</h5>
        <a href="" class="btn btn-primary hvr-sweep-to-top">Subscribe</a>
        <a href="" class="btn btn-outline-primary hvr-sweep-to-top">Submit</a>
      </div>
    </div>
  </div>
</div>
