<footer>
  <div class="container">
    <div class="footer__first-row row">
      <div class="footer__icon">
        <div class="center">
          <a href="#">
            <img src="assets/images/logo-light.png" alt="Logo">
          </a>
        </div>
      </div>
      <div class="footer__entries">
        <h5>Latest News</h5>
        <ul>
          <li *ngFor="let item of newsList">
            <a href="#" class="title">{{ item.title }}</a>
            <span class="date">{{ item.date }}</span>
          </li>
        </ul>
      </div>
      <div class="footer__newsletter">
        <h5>Subscribe</h5>
        <form method="post">
          <div></div>
          <div></div>
        </form>
        <h5>Social Media</h5>
        <a [href]="link.url" [class]="link.class" *ngFor="let link of socialMedia">
          <fa-icon [icon]="link.icon"></fa-icon>
        </a>
      </div>
    </div>
    <div class="footer__second-row">
      <span class="muted">Copyright Soup 2017 ©. Made with love by ThemeBeer.</span>
    </div>
  </div>
</footer>
