<div class="content">
  <div class="global--page-title">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-4">
          <h1 class="no-mb">About Us</h1>
          <h4 class="muted no-mb">Some information about our restaurant</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="about__content">
    <div class="clearfix">
      <div class="about__summary">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 left about__bg-image"></div>
            <div class="col-lg-7 offset-lg-5 about__text-content">
              <div class="rate muted">
                <fa-icon [icon]="faStar" class="active"></fa-icon>
                <fa-icon [icon]="faStar" class="active"></fa-icon>
                <fa-icon [icon]="faStar" class="active"></fa-icon>
                <fa-icon [icon]="faStar" class="active"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
              </div>
              <h2>
                The best food in London!
              </h2>
              <p class="lead">
                Donec a eros metus. Vivamus volutpat leo dictum risus ullamcorper condimentum. Cras sollicitudin varius condimentum. Praesent a dolor sem….
              </p>
              <p>
                Nam eleifend elementum sapien et bibendum. Nunc ac diam efficitur, ultrices lorem quis, consectetur odio. Nullam vulputate, eros quis accumsan cursus, elit lectus bibendum nulla, sed dapibus ligula tellus at purus. Fusce id eros id mi cursus semper. Quisque efficitur bibendum nunc a consectetur. Maecenas vitae quam iaculis, scelerisque purus nec, varius purus. Nullam eget varius elit. Donec eget facilisis nunc, non rutrum lorem.
              </p>
              <h6>Mark Johnson, Chef</h6>
              <img class="about__sign" src="assets/images/sign-1.png" alt="">
              <h4>What people say about Us?</h4>
              <a href="" class="btn btn-outline-primary hvr-sweep-to-top">
                <span>Check our reviews</span>
              </a>
            </div>
            </div>
          </div>
        </div>
        <app-parallax-footer></app-parallax-footer>
    </div>
  </div>
</section>
