<section>
<app-page-title
  [title]="'Contact Us'"
  [theme]="'light'">Some Information About Our Restaurant</app-page-title>

  <div class="clearfix container">
    <div class="row-fluid full-width">
      <article>
        <div class="col-sm-5 offset-lg-1 full-width text-content" [ngStyle]="{ padding: 0, margin: 0 }">
          <div class="wrapper">
            <img class="mb-5" src="assets/images/logo-horizontal-dark-1.png" alt="Logo">
            <h4 class="mb-0">Soup Restaurant</h4>
            <span class="muted">
              Green Street 22, New York
            </span>
            <hr class="hr-md">
            <div class="row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <h6 class="muted mb-1">Phone:</h6>
                +48 21200 2122 221
              </div>
              <div class="col-sm-6 mb-3 mb-sm-0">
                <h6 class="muted mb-1">E-mail:</h6>
                Example@example.com
              </div>
            </div>
            <hr class="hr-md">
            <h6 class="muted mb-3">Follow Us!</h6>
            <a [href]="link.url" class="icon__social {{ link.class }}" *ngFor="let link of socialMedia">
              <fa-icon [icon]="link.icon"></fa-icon>
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-lg-6 custom-container full-width">
          <div class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3424.3822633516243!2d31.46230554969261!3d30.87596568149707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f78ff2481142c7%3A0xd44fbadb28395b3d!2sSobhy+Hashim+St%2C+El-Senbellawein+City%2C+El-Senbellawein%2C+Dakahlia+Governorate!5e0!3m2!1sen!2seg!4v1539506693257" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
