<section>
  <div class="container">
    <ngu-carousel #offersCarousel [inputs]="carouselTileConfig" [dataSource]="offers">
      <ngu-tile class="item" *nguCarouselDef="let item">
          <div class="row flex-sm-wrap special-offer">
            <img width="600" height="420" [src]="item.image" class="special-offer__image">
            <div class="special-offer__content">
              <h2 class="mb-2"><a href="#">{{ item.title }}</a></h2>
              <h5 class="muted">{{ item.subTitle }}</h5>
              <ul class="special-offer__check-list">
                <li *ngFor="let checks of item.checklist">
                  <fa-icon [icon]="checks.icon ? faCheck : faTimes" [ngClass]="checks.icon ? 'green' : 'red'"></fa-icon>{{ checks.text }}
                </li>
              </ul>
            </div>
          </div>
      </ngu-tile>
      <button NguCarouselPrev class="leftRs"><fa-icon [icon]="faArrowLeft"></fa-icon></button>
      <button NguCarouselNext class="rightRs"><fa-icon [icon]="faArrowRight"></fa-icon></button>
    </ngu-carousel>
  </div>
</section>
