@import '../../../_variables'
@import '../../../_breakpoints'

button
  font-size: 1rem
  background-color: rgba($main-dark, .5)
  border: none
  color: #FFF
  position: absolute
  margin: auto
  top: 0
  bottom: 0
  width: 50px
  height: 50px
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3)
  border-radius: 50%
  z-index: 5

section
  position: relative
  padding-top: 5rem
  padding-bottom: 5rem

ul
  padding-inline-start: 15px
  @include breakpoint(sm)
    padding-inline-start: 40px

ngu-carousel
  width: 100%

.green
  color: #52cd57

.red
  color: #db5757

.item
  position: relative

.leftRs
  left: 0

.rightRs
  right: 0


// Temporary rules until backend implementation

.special-offer
  overflow: hidden
  position: relative
  table-layout: fixed
  margin-bottom: 2rem
  padding: 5rem 0

  &__image
    width: 100%
    height: auto
    z-index: 0

  &__check-list
    margin-bottom: 0
    font-size: 1.6rem
    @include breakpoint(xs)
      font-size: 1.4rem
    @include breakpoint(lg)
      font-size: 1.9rem
      font-weight: 300

    &> li
      margin-bottom: 1rem


  &__content
    padding: 25px
    position: absolute
    background-color: #FFF
    line-height: 1
    z-index: 2
    box-shadow: -9px 10px 12px -2px rgba(0,0,0,0.43)
    bottom: 3%
    right: -5%
    @include breakpoint(sm)
      width: 65%
      top: 28%
      bottom: 28%
      right: 40px
    @include breakpoint(lg)
      top: 15%
      bottom: 15%
    &> h2
      margin-bottom: .5rem
      font-size: 2.4rem
      font-weight: 100
      @include breakpoint(xs)
        font-size: 2rem
      @include breakpoint(lg)
        font-size: 4.4rem

    &> h5
      font-size: 1.5rem
      font-weight: 100
      margin-bottom: 3rem
      @include breakpoint(lg)
        font-size: 2.5rem

// End of temporary rules
