<section>
  <div class="container">
    <ngu-carousel
      #offersCarousel
      [inputs]="carouselTileConfig"
      [dataSource]="offers"
    >
      <ngu-tile class="item" *nguCarouselDef="let item">
        <app-offer [dataSource]="item"></app-offer>
      </ngu-tile>
      <button NguCarouselPrev class="leftRs">
        <fa-icon [icon]="faArrowLeft"></fa-icon>
      </button>
      <button NguCarouselNext class="rightRs">
        <fa-icon [icon]="faArrowRight"></fa-icon>
      </button>
    </ngu-carousel>
  </div>
</section>
