<div class="content">
  <div class="title">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-4 global--page-title">
          <h1 class="no-mb">Special Offers</h1>
          <h4 class="muted">Some informations about our restaurant</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Basic markup for the meal component -->

<div class="special-offer mb-3">
  <img src="{{ offerImage }}" alt="" class="special-offer__image">
  <div class="special-offer__content">
    <h2 class="mb-half"><a href="#">Chip Friday</a></h2>
    <h5 class="muted mb-3">10% Off for all dishes!</h5>
    <ul class="special-offer__check-list no-mb large-text">
      <li>Only on Friday</li>
      <li>All products</li>
      <li>Online order</li>
    </ul>
  </div>
</div>
