<blockquote data-aos="fade-down" class="block-quote block-quote--{{ direction }}">
  <div class="block-quote__content block-quote__content--{{ theme }}">
    <star-rating [readOnly]="true" [rating]="rating" starType=svg [staticColor]="'default'" size="small"></star-rating>
    <p class="block-quote__paragraph">
      <ng-content></ng-content>
    </p>
  </div>
  <footer class="block-quote__footer">
    <img class="avatar" [src]="image" [alt]="author">
    <span>
      {{ author }} <span class="muted">{{ service }}</span>
    </span>
  </footer>
</blockquote>
