<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-4 global--page-title">
      <h1 class="no-mb">Services</h1>
      <h4 class="muted">Services we provide at our restaurant</h4>
    </div>
  </div>
</div>

<section>
  <div class="clearfix">
    <div class="container-fluid">
      <div *ngFor="let service of serviceList; let i = index" class="row service">
          <!-- <div *ngIf="( isEven( i ); then even; else odd; )"></div> -->
            <div class="col-md-4" [class.second]="isEven(i)">
              <h2>{{ service.title }}</h2>
              <p>{{ service.text }}</p>
              <a href="" class="btn btn-outline-primary">Book Service</a>
            </div>
            <div class=" col-md-8" [class.first]="isEven(i)">
              <div class="bg-image" [ngStyle]="service.image"></div>
            </div>

<!--
          <ng-template #odd>
            <div class=" second col-md-4">
              <h2>{{ service.title }}</h2>
              <p>{{ service.text }}</p>
              <a href="" class="btn btn-outline-primary">Book Service</a>
            </div>
            <div class=" first col-md-8">
              <div class="bg-image" [ngStyle]="{{ service.image }}"></div>
            </div>
          </ng-template> -->

      </div>
    </div>
  </div>
</section>
