

.bg-image
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-position: center left
  background-size: cover
  background-repeat: no-repeat
  z-index: 0

.first
  order: 1

.second
  order: 2

.relative
  position: relative

.service
  margin: 2rem 0
  text-align: center
