<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-4 global--page-title">
      <h1 class="no-mb">Services</h1>
      <h4 class="muted">Services we provide at our restaurant</h4>
    </div>
  </div>
</div>

<section>
  <div class="clearfix">
    <div class="container-fluid">
      <div *ngFor="let service of serviceList; let i = index" class="row service">
            <div class="col-md-4 service__content" [class.second]="isEven(i)">
              <h2>{{ service.title }}</h2>
              <p>{{ service.text }}</p>
              <div class="service__button">
                <a href="" class="btn btn-outline-primary">Book Service</a>
              </div>
            </div>
            <div class=" col-md-8" [class.first]="isEven(i)">
              <div class="bg-image" [ngStyle]="service.image"></div>
            </div>
      </div>
    </div>
  </div>
  <app-parallax-footer></app-parallax-footer>
</section>
