<section>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 push-md-6 right image">
          <div class="bg-image"></div>
        </div>
        <div class="col-lg-5 col-md-9">
          <star-rating
            [rating]="4"
            [readOnly]="true"
            [starType]="'svg'"
            [staticColor]="'default'"></star-rating>
          <h1>
            The best food in London!
          </h1>
          <p class="muted lead mb-5">
            Donec a eros metus. Vivamus volutpat leo dictum risus ullamcorper condimentum. Cras sollicitudin varius condimentum. Praesent a dolor sem....
          </p>
          <app-blockquote
            *ngFor="let quote of quotes.slice(0, 2); even as isEven"
            [author]="quote.author"
            [image]="quote.image"
            [rating]="quote.rating"
            [service]="quote.service"
            [theme]="isEven? 'light' : 'dark'"
            [direction]="isEven? 'right' : 'left'"> {{ quote.quote }} </app-blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="myContainer">
      <div class="row">
        <div class="col-lg-11 offset-lg-1 options options--bg-dark">
          <div *ngFor="let item of optionsList" class="col-xs-12 col-lg-4">
          <div class="options__feature">
            <fa-icon class="options__feature--icon" [icon]="item.icon"></fa-icon>
            <div class="options__feature__content">
              <h4>{{ item.title }}</h4>
              <p>{{ item.text }}</p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
