@import '../../../_variables.sass'

button
  background-color: #282b2e
  color: #ddae71
  margin: 1rem


section
  position: relative
  background-color: #fff
  height: calc(100vh - 100px - 30px)
  padding-top: 0
  padding-bottom: 0
  overflow: hidden

  &> .container
    height: 100%

.leftRs
  position: absolute
  margin: auto
  top: 0
  bottom: 0
  width: 50px
  height: 50px
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3)
  border-radius: 999px
  left: 0

.rightRs
  position: absolute
  margin: auto
  top: 0
  bottom: 0
  width: 50px
  height: 50px
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3)
  border-radius: 999px
  right: 0

.tile
  min-height: 600px
  background-color: #ccc
  background-size: cover


.dark
  color: #FFF
  background-color: $main-dark
