<app-page-title [title]="'Gallery'">Some Information About Our Restaurant</app-page-title>

<div class="content">
  <div class="clearfix">
    <div class="container-fluid">
      <div class="row">
        <!-- Reserved for carousel  -->
        <ngu-carousel #myCarousel [inputs]="carouselTileConfig" [dataSource]="images">
          <ngu-tile *nguCarouselDef="let item">
            <div class="tile zoom" [style.background]="'url('+item.image+')'"></div>
          </ngu-tile>
          <div class="pointers" NguCarouselPoint>
            <div
              class="pointers--image"
              *ngFor="let pointer of myCarousel.dataSource; index as i"
              [style.background]="'url('+pointer.image+')'"
              [class.pointers--active]="i == myCarousel.activePoint"
              (click)="myCarousel.moveTo(i)"></div>
          </div>
          <button NguCarouselPrev class="ngu-button ngu-button--left">&lt;</button>
          <button NguCarouselNext class="ngu-button ngu-button--right">&gt;</button>
        </ngu-carousel>
      </div>
    </div>
  </div>
</div>
