@import url('https://fonts.googleapis.com/css?family=Oswald')
@import "bootstrap/scss/bootstrap.scss"
@import "bootstrap/scss/_nav.scss"
@import "normalize.css"
@import "tiny-slider/dist/tiny-slider.css"
@import "_variables"

*
  box-sizing: border-box

html
  font-size: 14px

body
  color: $text-color
  font-family: "Helvetica Neue", "Raleway", sans-serif
  font-weight: 400
  line-height: 1.6
  overflow-x: hidden
  margin: 0 30px 30px
  background: #FFF

p
  opacity: 1
  visibility: visible
  transition: opacity .24s ease-in-out
  font-size: 1rem
  font-weight: 200

h1
  font-size: 4.5rem
  font-weight: 100
  margin-top: 0
  margin-bottom: 2rem

a
  color: inherit
  transition: all .2s ease-in-out
  text-decoration: none

li
  list-style: none

img
  height: auto
  vertical-align: middle

.avatar
  width: 32px
  border-radius: 50%
  margin-right: .35rem

.left
  float: left

.right
  float: right

.muted
  color: #a4a7a9

.light
  background-color: $light-bgc
  color: $text-color
